{{define "content"}}
<div class="title-line"><h1>{{.Name.Name}}</h1>{{template "view-tabs" .Tabs}}</div>
{{template "stats" .Stats}}
{{with .Name.Other}}{{if otherNames}}<p class="also-known muted">{{.}}</p>{{end}}{{end}}
{{with .By}}<p>By {{template "names" .}}</p>{{end}}
<div class="entity">
<div>
<h2>Tracks</h2>
<div class="table-scroll">
<table class="table">
<thead><tr><th scope="col" class="wide">Song</th><th scope="col" class="wide">Artist</th><th scope="col" class="num">Listens</th></tr></thead>
<tbody>
{{range .Recordings}}<tr><td>{{template "name" (withVersion .Song .Version)}}</td><td>{{template "names" .Artists}}</td><td class="num">{{num .Listens}}</td></tr>
{{end}}</tbody>
</table>
</div>

<h2>Recent listens</h2>
{{if .Recent}}{{template "listen-table" .Recent}}{{else}}<p>No listens yet.</p>{{end}}
</div>
<aside class="infobox">
{{if .ShowCover}}{{template "cover" .Cover}}{{end}}
<table>
{{with .AlbumType}}<tr><th scope="row">Type</th><td>{{.}}</td></tr>{{end}}
{{with .Released}}<tr><th scope="row">Released</th><td>{{.}}</td></tr>{{end}}
{{with .Labels}}<tr><th scope="row">Labels</th><td>{{range $i, $l := .}}{{if $i}}, {{end}}{{$l}}{{end}}</td></tr>{{end}}
</table>
</aside>
</div>
{{end}}
